.nav-header .nav-home {
    color: #5FB4A2;
}

.hero img {
    display: block;

    width: 1110px;
}

.ola {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 445px;
    height: 357px;

    padding-top: 56px;
    padding-left: 27px;
    padding-right: 28px;

    background-color: #FAFAFA;
}

.ola>p {
    font-style: normal;

    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}

.card-about {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 200px;
    height: 48px;

    background-color: #203A4C;

}

.card-about-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    background-color: #1D3444;
}

.card-about-image img {
    display: block;

    width: 16px;
}

.card-about-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 152px;
}

.card-about p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;


    color: #FFFFFF;
}




.about {
    display: flex;
    justify-content: space-between;
}

.about>img {
    display: block;

    width: 540px;
    height: 600px;
}

.div-about {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    width: 430px;
    height: 600px;
}

.div-about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 430px;
    height: 502px;
}

.div-about-text-titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 20px;
}

.div-about-text-corpo {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #33323D;
}

.div-about-text-botton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 204px;
    height: 48px;
    border: 1px solid black;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.rectangle {
    width: 430px;
    height: 1px;
    background-color: #979797;
}

.rectangle-up {
    position: absolute;
    top: 0;
}

.rectangle-down {
    position: absolute;
    bottom: 0;
}